<nav class="navbar navbar-expand-lg navbar-dark bg-dark"> <!-- Cambiamos la clase 'navbar-light' por 'navbar-dark' y el color de fondo a 'bg-dark' -->
  <div class="container">
    <a class="navbar-brand" [routerLink]="['/']">Pablo DEPORTES </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent"> <!-- Alineamos el contenido a la derecha -->
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/']">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/productos']">Productos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/cart']">Carrito</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/products/categories']">Categorías</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/usuario']">usuario</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

