<br>
<div class="container welcome-container">
    <div class="row">
      <div class="col-md-6 welcome-text">
        <h1>Bienvenido a nuestra tienda de zapatos</h1>
        <p>¡Descubre una amplia selección de zapatos de alta calidad para todas las ocasiones!</p>
        <p>Desde zapatos casuales hasta elegantes, tenemos todo lo que necesitas para lucir genial y sentirte cómodo.</p>
      </div>
      <div class="col-md-6">
        <img class="img-fluid welcome-image" src="assets/bienvenida.jpg" alt="Imagen de bienvenida">
      </div>
    </div>
  </div>
  
  
  